name: AI Code Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: AI Reviewer
        uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

          # OBRIGATÓRIO: Use v1beta. A compatibilidade OpenAI não existe na v1 padrão ainda.
          # OBRIGATÓRIO: Mantenha /openai no final.
          OPENAI_API_ENDPOINT: https://generativelanguage.googleapis.com/v1beta/openai

          LANGUAGE: Portuguese

          # O 1.5 Flash é crucial para não dar erro 429
          MODEL: gemini-1.5-flash

          # Tokens mais baixos ajudam a liberar a requisição mais rápido
          MAX_TOKENS: 2500

          # ESTE É O SEGREDO PARA NÃO DAR ERRO 429:
          # Ignora arquivos que não são código, evitando disparar 50 requisições de uma vez.
          ignore_patterns: package-lock.json,yarn.lock,pnpm-lock.yaml,*.lock,*.png,*.jpg,*.svg,*.json,dist/**,*.xml,*.gradle,*.md

          PROMPT: |
            Aja como um Engenheiro de Segurança Sênior (DevSecOps).
            Analise o DIFF deste Pull Request.
            Foque apenas em:
            1. Vulnerabilidades Críticas (OWASP).
            2. Bugs de Lógica.
            Seja conciso.