name: AI Code Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: AI Reviewer
        uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

          # VOLTANDO AO NOME QUE A ACTION RECONHECE
          # Sem isso, ele tenta bater na OpenAI e dá erro 401.
          OPENAI_API_ENDPOINT: https://generativelanguage.googleapis.com/v1beta/openai

          LANGUAGE: Portuguese

          # O 1.5 Flash é essencial para evitar o erro 429 (Rate Limit)
          MODEL: gemini-1.5-flash

          MAX_TOKENS: 3000

          # Mantendo os filtros para não gastar API com lixo
          ignore_patterns: package-lock.json,yarn.lock,pnpm-lock.yaml,*.lock,*.png,*.jpg,*.svg,*.json,dist/**,*.xml,*.gradle

          PROMPT: |
            Aja como um Engenheiro de Segurança Sênior (DevSecOps).
            Analise o DIFF buscando:
            1. Vulnerabilidades OWASP Top 10.
            2. Code Smells graves.
            3. Aderência a Java 21+ e Spring Boot 3.x.
            Seja conciso.